# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
devenv/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
MANIFEST

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Cython debug symbols
cython_debug/

# Visual Studio Code
.vscode/

# Ruff stuff:
.ruff_cache/
